*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f57979;
    font-family: 'Raleway', sans-serif;
}

body > header > nav > form{
    float: right;
    margin-right: 5%;
}

body > header > nav > form > input[type="text"]{
    border: solid white;
    border-radius: 10px;
}

.overlay{
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn{
    position: absolute;
    top: 20px;
    right: 5%;
    font-size: 60px;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1, h2{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

main > form > input[type="text"]{
    width: 90%;
    border: solid white;
    border-radius: 10px;
}

input:placeholder-shown{
    font-style: italic;
    font-size: 16px;
}

.searchbtn{
    margin-left: 2px;
    background: transparent;
    border: none;
}

.homeButton{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: solid #7ef176;
    border-radius: 50px;
    background-color: #7ef176;
    padding: 5px 20px;
}

main > form > ul > li > input{
    border: solid white;
    border-radius: 10px;
    width: 100%;
}

form > ul > li{
    padding-bottom: 10px;
}

.btnContainer{
    text-align: center;
}

input[type="submit"]{
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid #7ef176;
    border-radius: 50px;
    background-color: #7ef176;
    width: 75%;
}

main > form > p{
    font-size: 20px;
    color: white;
}

.categories > li{
    margin-bottom: 75px;
}

.categories > li > a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: solid #f8d62c;
    border-radius: 50px;
    background-color: #f8d62c;
    padding: 20px 50px;
}

body > footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #474545;
}

body > footer > ul{
    padding: 35px 0 0 2%;
}

body > footer > ul > li{
    padding: 5px 0 0 2%;
    font-size: 16px;
}

#social > li{
    display: inline-block;
    padding: 0 0 10px 2%;
    font-size: 11px;
}