*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f57979;
    font-family: 'Raleway', sans-serif;
}

body > header > nav > form{
    float: right;
    margin-right: 5%;
    padding-top: 20px;
}

body > header > nav > form > input[type="text"]{
    border: solid white;
    background-color: #ddd;
    border-radius: 10px;
}

.overlay{
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay .closebtn{
    position: absolute;
    left: 1%;
    font-size: 60px;
}

nav > ul {
    margin-top: 75px;
    margin-left: 1%;
}

nav > ul > li > a{
    font-size: 20px;
}

header > span {
    font-size: 40px;
    color: white;
    cursor: pointer;
    margin-left: 0.5%;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    gap: 30px;
}

h1, h2{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.carousel{
    width: 100%;
    position: relative;
    margin: auto;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0, 8);
}

.carouselText{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
}

main > form > input[type="text"]{
    width: 90%;
    border: solid white;
    border-radius: 10px;
}

input:placeholder-shown{
    font-style: italic;
    font-size: 16px;
}

.searchbtn{
    margin-left: 2px;
    background: transparent;
    border: none;
}

.homeButton{
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    border: solid #7ef176;
    border-radius: 50px;
    background-color: #7ef176;
    padding: 5px 20px;
}

main > form > footer{
    margin-top: 10px;
}

main > form > ul > li > input{
    border: solid white;
    border-radius: 10px;
    width: 100%;
}

form > ul > li{
    padding-bottom: 10px;
}

.btnContainer{
    text-align: center;
}

input[type="submit"]{
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid #7ef176;
    border-radius: 50px;
    background-color: #7ef176;
    width: 75%;
}

main > form > p{
    font-size: 20px;
    color: white;
}

.categories > li{
    margin-bottom: 75px;
}

.categories > li > a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border: solid #f8d62c;
    border-radius: 50px;
    background-color: #f8d62c;
    padding: 20px 50px;
}

.addToCart > li{
    display: inline;
    padding-top: 20px;
}

.notifications{
    margin-top: 20px;
}

.notifications > ul{
    margin-top: 10px;
}

.notifications > li > p{
    font-size: 20px;
}

main form ul li textarea {
    border: solid white;
    border-radius: 10px;
}

main form ul li select{
    border: solid white;
    width: 100%;
    border-radius: 50px;
}

/*TODO: da finire lo stile dei collapse*/

section > ul > li{
    min-width: 300px;
    max-width: 300px;
    margin-top: 30px;
}

section > ul > li:first-child{
    margin-top: 0;
}

.addToCart > li > select{
    width: 18%;
    border-radius: 50px;
    border: solid white;
}

.addToCart > li > a{
    font-size: 16px;
    text-decoration: none;
    color:black;
    text-align: center;
    border: solid #f8d62c;
    border-radius: 50px;
    background-color: #f8d62c;
    padding: 0 9%;
}

body > footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #474545;
}

body > footer > ul{
    padding: 35px 0 0 2%;
}

body > footer > ul > li{
    padding: 5px 0 0 2%;
    font-size: 16px;
}

#social > li{
    display: inline-block;
    padding: 0 0 10px 2%;
    font-size: 11px;
}